<h2  class="text-center">Sign up</h2>
<div class="row h-100 justify-content-center align-items-center">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <div class="field form-group">
      <%= f.email_field :email, autofocus: true, placeholder: 'Email address', class: "form-control" %>
    </div>

    <div class="field form-group">
      <%= f.password_field :password, placeholder: 'Password', class: "form-control" %>
    </div>

    <div class="field form-group">
      <%= f.password_field :password_confirmation, placeholder: 'Password confirmation', class: "form-control" %>
    </div>

    <%= f.submit "Sign up", class: 'btn btn-primary' %>
    <%= render "devise/shared/links" %>
  <% end %>
</div>
