<div class="text-center">
  <h1>Stock productivity calculator</h1>
  <%= link_to 'Sign in', new_user_session_path, class: "btn btn-outline-primary" %>
  or <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-outline-secondary" %>
</div>
