<div class="row h-100 justify-content-center align-items-center">
  <%= form_with(model: stock, local: true) do |form| %>
    <div class="field form-group">
      <%= form.label :name %>
      <%= form.text_field :name, required: true, class: "form-control" %>
    </div>

    <div class="field form-group">
      <%= form.label :unit_price %>
      <%= form.number_field :unit_price, required: true, max: 21474836.47, step: 0.01, class: "form-control" %>
    </div>

    <div class="field form-group">
      <%= form.label 'Interest in percents' %>
      <%= form.number_field  :interest, required: true, max: 100 , step: 0.1, class: "form-control" %>
    </div>

    <div class="field form-group">
      <%= form.label 'Duration in years' %>
      <%= form.number_field :duration, required: true, max: 100 , class: "form-control" %>
    </div>

    <div class="actions">
      <%= form.submit class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>