<% if current_user %>

  <h1>Stocks</h1>

  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Unit price</th>
      <th scope="col">Interest</th>
      <th scope="col">Duration</th>
    </tr>
    </thead>

    <tbody>
    <% if @stocks.size > 0 %>
      <% @stocks.each do |stock| %>
        <tr>
          <td><%= link_to stock.name, stock %></td>
          <td><%= humanized_money_with_symbol stock.unit_price %></td>
          <td><%= stock.interest %></td>
          <td><%= stock.duration %></td>
        </tr>
      <% end %>
    <% else %>
    <tr>
      <td colspan="4">
        No data
      </td>
    </tr>
    <% end %>
    </tbody>
  </table>
  <%= paginate @stocks, theme: 'twitter-bootstrap-4',
               pagination_class: "pagination-sm" %>

  <br>
<% else %>
<% end %>
