<p class="lead">
  <strong>Name:</strong>
  <%= @stock.name %>
</p>

<p class="lead">
  <strong>Unit price:</strong>
  <%= humanized_money_with_symbol @stock.unit_price %>
</p>

<p class="lead">
  <strong>Interest:</strong>
  <%= @stock.interest %>
</p>

<p class="lead">
  <strong>Duration, years:</strong>
  <%= @stock.duration %>
</p>

<%= link_to 'Edit', edit_stock_path(@stock), class: "btn btn-outline-primary btn-sm" %>

<%= bar_chart(@chart_data, ytitle: "Year", xtitle: "Amount, dollars") %>
