<h2 class="text-center">Sign in</h2>
<div class="row h-100 justify-content-center align-items-center">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field form-group">
      <%= f.email_field :email, autofocus: true, placeholder: 'Email address', class: "form-control" %>
    </div>

    <div class="field form-group">
      <%= f.password_field :password, placeholder: 'Password confirmation', class: "form-control" %>
    </div>

    <%= f.submit "Sign in", class: 'btn btn-primary' %>
    <%= render "devise/shared/links" %>
  <% end %>
</div>
