<nav class="navbar justify-content-between">
  <div class="btn-group">
    <%= link_to 'Stocks', stocks_path, class: "navbar-brand" %>
    <%= link_to 'Add Stock', new_stock_path, class: "navbar-brand" if user_signed_in? %>
  </div>
  <% if user_signed_in? %>
    <div class="btn-group">
      <button class="btn btn-outline-primary dropdown-toggle"
              data-toggle="dropdown">
        <%= current_user.email %>
      </button>
      <div class="dropdown-menu">
        <%= link_to 'Your profile', edit_user_registration_path, method: :get, class: "dropdown-item" %>
        <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: "dropdown-item" %>
      </div>
    </div>
  <% end %>
</nav>
