<!DOCTYPE html>
<html>
  <head>
    <title>Stock productivity calculator</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container h-100">
      <%= render 'layouts/navbar' %>
      <%= flash_messages %>

      <div class="h-100 justify-content-center align-items-center">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
